<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ficha Tombo</title>
    <style>
        @page {
          margin: 0;
        }

        html,
        body {
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          padding-top: 8px;
          padding-left: 8px;
        }

        body {
          max-width: 80%;
        }

        .break-line-before {
          page-break-before: always;
          page-break-inside: avoid;
        }

        .text-center {
          text-align: center;
        }

        .text-right {
          text-align: right;
        }

        .tabela-principal {
          border-collapse: collapse;
          border: 1px solid #333;
          width: 14cm;
          min-height: 9cm;
          margin-bottom: 5px;
        }

        .tabela-principal td {
          padding: 2px 8px;
        }

        .tabela-principal tr:first-child > td:first-child {
          border-right: 1px solid #333;
        }

        .tabela-principal .linha-vazia {
          height: 5px;
        }

        .tabela-principal .celular-imagem {
          border-right: 1px solid #333;
          border-bottom: 1px solid #333;
        }

        .border-bottom {
          border-bottom: 1px solid #333;
        }
      </style>
</head>

<body>
    <% if ( imprimir === '0') { %>
        <% fotos.length = 1%>
    <% } %>
    <% const copias = parseInt(numero_copias || 1); %>
    <% let fichaIndex = 0; %>
    <% for (let i = 0; i < fotos.length; i++) { 
      for (let j = 0; j < copias; j++) { %>
    <% if (fichaIndex !== 0 && fichaIndex % 3 === 0) { %>
      
    <% } %>
    <table class="tabela-principal">
        <tr>
            <td rowspan="2" width="100" class="celular-imagem text-center">
                <img width="100" src="/assets/logotipo_HCF.png" alt="Logo UTFPR">
                <div style="font-size: .5em;"><b>CAMPUS CAMPO MOURÃO</b></div>
            </td>
            <td colspan="3" class="text-center">
                <b style="font-size: 14px;">Herbário da Universidade Tecnológica Federal do Paraná - <br/>Campus Campo Mourão</b>
            </td>
        </tr>
        <tr class="border-bottom">
            <td colspan="2" style="border: none;">
                <b style="font-size: 14px;">HCF <%- tombo.hcf %></b>
            </td>
            <td colspan="2" style="font-size: 14px;">
                <div style="display: flex;"><b>Data:</b> <%- romano_data_tombo %></div>
            </td>
        </tr>
        <% if (familia && familia.nome) { %>
        <tr>
            <td colspan="4">
                <b style="font-size: 14px;">Família: </b> <%- tombo.familia.nome %>
            </td>
        </tr>
        <% } %>
        <tr>
            <td colspan="4">
                <b style="font-size: 14px;">Espécie:</b>
                <% if (genero && genero.nome) { %>
                    <i><%- genero.nome %></i>
                <% } %>
                <% if (especie && especie.nome) { %>
                    <i><%- especie.nome %></i>
                <% } %>
                <% if (especie && especie.autore) { %>
                    <%- especie.autore.nome %>
                <% } %>
                <% if (variedade && variedade.nome) { %>
                    var. <i><%- variedade.nome %></i>
                <% } %>
                <% if (variedade && variedade.autore) { %>
                    <%- variedade.autore.nome %>
                <% } %>
                <% if (subespecie && subespecie.nome) { %>
                    ssp. <i><%- subespecie.nome %></i>
                <% } %>
                <% if (subespecie && subespecie.autore) { %>
                    <%- subespecie.autore.nome %>
                <% } %>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="linha-vazia"></td>
        </tr>
        <tr>
            <td colspan="4">
                <b style="font-size: 14px;">Nome Vulgar:</b> <%- tombo.nomes_populares %>
            </td>
        </tr>
        <% if (identificacao) { %>
        <tr>
            <td colspan="3">
                <b style="font-size: 14px;">Identificador:</b> <%- identificador %>
            </td>
            <td>
                <% if (tem_data_identificacao) { %>
                  <b style="font-size: 14px;">Data:</b> <%- romano_data_identificacao %>
                <% } %>
            </td>
        </tr>
        <% } %>
        <tr>
            <td colspan="4">
                <b style="font-size: 14px;">Local de coleta:</b>
                <% if (localColeta && localColeta.complemento) { %>
                    <%- localColeta.complemento %>
                <% } %>
                <% if (localColeta && localColeta.descricao) { %>
                    - <%- localColeta.descricao %>
                <% } %>
                <% if (cidade && cidade.nome) { %>
                    - <%- cidade.nome %>
                <% } %>
                <% if (cidade && cidade.estado) { %>
                    - <%- cidade.estado.nome %>
                <% } %>
                <% if (cidade && cidade.estado && cidade.estado.pais) { %>
                    - <%- cidade.estado.pais.nome %>
                <% } %>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="linha-vazia"></td>
        </tr>
        <tr>
            <td colspan="4">
                <b style="font-size: 14px;">Observações:</b> 
                <% if (tombo && tombo.observacao) { %>
                    <%- tombo.observacao %>
                <% } %>
                <% if (tombo && tombo.latitude) { %>
                    - Latitude: <%- tombo.latitude %>
                <% } %>
                <% if (tombo && tombo.longitude) { %>
                    - Longitude: <%- tombo.longitude %>
                <% } %>
                <% if (tombo && tombo.altitude) { %>
                    - Altitude: <%- tombo.altitude %>m
                <% } %>
                <% if (localColeta && localColeta.solo) { %>
                    - Solo: <%- localColeta.solo.nome %>
                <% } %>
                <% if (localColeta && localColeta.relevo) { %>
                    - Relevo: <%- localColeta.relevo.nome %>
                <% } %>
                <% if (localColeta && localColeta.vegetaco) { %>
                    - Vegetação: <%- localColeta.vegetaco.nome %>
                <% } %>
                <% if (localColeta && localColeta.fase_sucessional) { %>
                    - Fase sucessional: <%- localColeta.fase_sucessional.nome %>
                <% } %>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="linha-vazia"></td>
        </tr>
        <tr>
            <td colspan="4" class="linha-vazia"></td>
        </tr>
        <tr>
            <td colspan="2">
              <div style="display: flex; gap: 5px;">
                <b style="font-size: 14px;"><%- tombo.coletores.length == 1 ? 'Coletor' : 'Coletores' %>:</b>
                <div>
                  <%- tombo.coletores %>
                </div>
              </div>
            </td>
            <td width="19%" class="text-right" style="text-align:right; vertical-align:top;">
                <b>nº:</b> <%- tombo.numero_coleta %>
            </td>
            <td width="21%" class="text-right" style="text-align:right; vertical-align:top;">
                <b>Data:</b> <%- romano_data_coleta %>
            </td>
        </tr>
        <% if (!!fotos[i]['id'] && imprimir !== '0') { %>
        <tr>
            <td colspan="4" class="text-right">
                <svg id="<%- 'code128_' + fotos[i]['id'] %>"></svg>
            </td>
        </tr>
        <% } %>
    </table>
    <% if (!!fotos[i]['id'] && imprimir !== '0') { %>
    <script>
        window.addEventListener('load', () => {
            const id = "<%- '#code128_' + fotos[i]['id'] %>";
            const cbarra = "<%- codigo_barras_selecionado %>";
            JsBarcode(id, cbarra, { margin: 0, width: 1.4, height: 40, fontSize: 10 });
        });
    </script>
    <% } %>
    <% fichaIndex++; %>
    <% } %>
    <% } %>
    <script src="/assets/js/jsbarcode.code128.min.js"></script>
    <script>
        function onPageLoaded() {
            if (!/standalone/.test(window.location.href)) {
                window.print();
            }
        }

        window.addEventListener('load', onPageLoaded);
    </script>
</body>

</html>
