<%# Nesse arquivo, há a criação da ficha tombo, que é exibida quando se %>
<%# deseja imprimir dados de um tombo específico, por exemplo. %>

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ficha Tombo</title>
    <style>
      @page {
        margin: 0;
      }

      html, body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 8px;
        padding-left: 8px;
      }

      body {
        max-width: 80%;
      }

      .pad-padrao {
        padding: 2px 8px;
      }

      .pad-topbottom {
        padding: 20px 8px;
      }

      .w-full {
        width: 100%;
      }

      .ficha {
        border-collapse: collapse;
        border: 1px solid #000;
        width: 14cm;
        min-height: 7cm;
        margin-bottom: 5px;
      }

      .flex {
        display: flex;
      }

      .border-right {
        border-right: 1px solid #000;
      }

      .border-bottom {
        border-bottom: 1px solid #000;
      }

      .cabecalho-img {
        width: 100px;
      }

      .cabecalho-info {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .center-between {
        align-items: center;
        justify-content: space-between;
      }

      .fs-14 {
        font-size: 14px;
      }

      .flex-col {
        flex-direction: column;
      }

      .gap-1 {
        gap: 0.25rem;
      }

      .linha-vazia {
        height: 5px;
      }

      .items-center {
        align-items: center;
      }

      .items-start {
        align-items: flex-start;
      }

      .start-between {
        align-items: flex-start;
        justify-content: space-between;
      }

      .center-end {
        align-items: center;
        justify-content: flex-end;
      }

      .ml-1 {
        margin-left: 0.25rem;
      }

      .ml-2 {
        margin-left: 0.5rem;
      }

      .limited-div-50 {
        max-width: 7cm;
      }

      .limited-code-div {
        min-width: 5cm;
      }
    </style>
    <body>
      <% if ( imprimir === '0') { %>
        <% fotos.length = 1%>
      <% } %>

      <% const copias = parseInt(numero_copias || 1); %>
      <% let fichaIndex = 0; %>

      <% for (let i = 0; i < fotos.length; i++) { %>
        <% for (let j = 0; j < copias; j++) { %>
          <div class="ficha">
            <!-- Cabeçalho da ficha -->
            <div class="flex">
              <div class="cabecalho-img pad-padrao border-right border-bottom">
                <img width="100" src="/assets/logotipo_HCF.png" alt="Logo UTFPR">
              </div>
              <div class="cabecalho-info pad-topbottom border-bottom">
                <b class="fs-14">Herbário da Universidade Tecnológica Federal do Paraná - <br/>Campus Campo Mourão</b>
              
                <div class="flex center-between w-full">
                  <b class="fs-14">HCF <%- tombo.hcf %></b>

                  <div class="flex fs-14">
                    <b>Data:</b> <%- romano_data_tombo %>
                  </div>
                </div>
              </div>
            </div>

            <!-- Corpo da ficha -->
             <div class="flex flex-col pad-padrao gap-1">
              <% if (familia && familia.nome) { %>
                <div>
                  <b class="fs-14">Família: </b> <%- tombo.familia.nome %>
                  <% if (tombo && tombo.sub_familia) { %>
                    - <%- subfamilia.nome %>
                <% } %>
                </div>
              <% } %>

              <div>
                <b class="fs-14">Espécie:</b>
                <% if (genero && genero.nome) { %>
                    <i><%- genero.nome %></i>
                <% } %>
                <% if (especie && especie.nome) { %>
                    <i><%- especie.nome %></i>
                <% } %>
                <% if (especie && especie.autore) { %>
                    <%- especie.autore.nome %>
                <% } %>
                <% if (variedade && variedade.nome) { %>
                  <text class="ml-2">var. </text><i><%- variedade.nome %></i>
                <% } %>
                <% if (variedade && variedade.autor) { %>
                    <%- variedade.autor.nome %>
                <% } %>
                <% if (subespecie && subespecie.nome) { %>
                    subsp. <i><%- subespecie.nome %></i>
                <% } %>
                <% if (subespecie && subespecie.autore) { %>
                    <%- subespecie.autore.nome %>
                <% } %>
              </div>

              <div class="linha-vazia"></div>

              <div>
                <b class="fs-14">Nome Vulgar:</b> <%- tombo.nomes_populares %>
              </div>
              <div class="flex center-between">
                <div>
                  <b class="fs-14">Identificador:</b> <%- identificador %>
                </div>
                <div>
                  <b class="fs-14">Data:</b> <%- romano_data_identificacao %>
                </div>
              </div>
              <div>
                <b class="fs-14">Local de Coleta:</b>
                <% if (localColeta && localColeta.complemento) { %>
                    <%- localColeta.complemento %>
                <% } %>
                <% if (localColeta && localColeta.descricao) { %>
                    - <%- localColeta.descricao %>
                <% } %>
                <% if (cidade && cidade.nome) { %>
                    - <%- cidade.nome %>
                <% } %>
                <% if (cidade && cidade.estado) { %>
                    - <%- cidade.estado.nome %>
                <% } %>
                <% if (cidade && cidade.estado && cidade.estado.pais) { %>
                    - <%- cidade.estado.pais.nome %>
                <% } %>
              </div>

              <div class="linha-vazia"></div>

              <div>
                <b class="fs-14">Observações:</b>
                <% if (tombo && tombo.descricao) { %>
                    <%- tombo.descricao %>
                <% } %>
                <% if (tombo && tombo.latitude) { %>
                    - Latitude: <%- tombo.latitude %>
                <% } %>
                <% if (tombo && tombo.longitude) { %>
                    - Longitude: <%- tombo.longitude %>
                <% } %>
                <% if (tombo && tombo.altitude) { %>
                    - Altitude: <%- tombo.altitude %>m
                <% } %>
                <% if (localColeta && localColeta.solo) { %>
                    - Solo: <%- localColeta.solo.nome %>
                <% } %>
                <% if (localColeta && localColeta.relevo) { %>
                    - Relevo: <%- localColeta.relevo.nome %>
                <% } %>
                <% if (localColeta && localColeta.vegetaco) { %>
                    - Vegetação: <%- localColeta.vegetaco.nome %>
                <% } %>
                <% if (localColeta && localColeta.fase_sucessional) { %>
                    - Fase sucessional: <%- localColeta.fase_sucessional.nome %>
                <% } %>
              </div>

              <div class="linha-vazia"></div>
              <div class="linha-vazia"></div>

              <div class="flex start-between">
                <div class="flex items-start">
                  <b class="fs-14"><%- tombo.coletores.length == 1 ? 'Coletor' : 'Coletores' %>:</b>
                  <div class="ml-1 limited-div-50">
                    <%- tombo.coletores %>
                  </div>
                </div>

                <div class="flex flex-col gap-1 limited-code-div">
                  <div class="flex center-between w-full">
                    <div>
                      <b class="fs-14">nº:</b> <%- tombo.numero_coleta %>
                    </div>
    
                    <div>
                      <b class="fs-14">Data:</b> <%- romano_data_coleta %>
                    </div>
                  </div>

                  <div class="linha-vazia"></div>

                  <% if (!!fotos[i]['id'] && imprimir !== '0') { %>
                    <div class="flex center-end">
                      <svg id="<%- 'code128_' + fotos[i]['id'] %>"></svg>
                    </div>
                  <% } %>
                </div>
              </div>
             </div>
          </div>
          <% if (!!fotos[i]['id'] && imprimir !== '0') { %>
            <script>
              window.addEventListener('load', () => {
                const id = "<%- '#code128_' + fotos[i]['id'] %>";
                const cbarra = "<%- codigo_barras_selecionado %>";
                JsBarcode(id, cbarra, { margin: 0, width: 1.4, height: 40, fontSize: 10 });
              });
            </script>
          <% } %>
          <% fichaIndex++; %>
        <% } %>
      <% } %>
      <script src="/assets/js/jsbarcode.code128.min.js"></script>
      <script>
        function onPageLoaded() {
          if (!/standalone/.test(window.location.href)) {
            window.print();
          }
        }

        window.addEventListener('load', onPageLoaded);
      </script>
    </body>
  </head>
</html>
